.container {
    background-color: #e6e9f2;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.header {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 50px;
}
.header H5 {
    flex-grow: 1;
    font-weight: bold;
    align-items: center;
    text-align: center;
}
.formContainer {
    display: grid;
    justify-items: center;
}
.inputform {
    display: grid;
    grid-template-columns: 500px 200px;
    justify-items: center;
    text-align: center; 
}
.input {
    display: grid;
}
.textContent {
    display: grid;
    text-align: center;
    place-items: center;
    font-size: small;
    font-weight: bold;
    color: rgb(60, 0, 129);
}