body{
    background-color: #ebf5fc;
    font-family: sans-serif;
}


.clear{
    clear: both;
}


.my-4{
    width : 100%;
    margin: 0px;
}

header{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 999;
}

.left_area h2{
    color : black;
    padding-top: 20px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
}

.left_area span{
    color :rgb(255, 148, 148);
}


.search_bar{
    display: none;
    width: 25%;
    padding: 5px;
    float: right;
    margin-top: -30px;
    margin-right: 3px;
    border-radius: 4px;
}

.search_bar textarea{
    height: 20px;
    font-size: 15px;
}

.search_btn{
    font-size: 30px;
    padding: 5px;
    float: right;
    margin-top: -55px;
    margin-right: 20px;
}


/*left sidebar*/


.left-sidebar{
    margin-top: 100px;
    padding-top: 30px;
    padding-left: 10px;
    position: fixed;
    left: 0;
    width: 200px;
    height: 100%;

}

.left-sidebar .profile-img{
    width :100px;
    height: 100px;
    border-radius: 100px;
}

.left-sidebar h4{
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}

.left-sidebar a{
    margin-top: 10px;
    padding-right: 10px;
    color :rgb(255, 148, 148);
    display: block;
    width : 100%;
    line-height: 45px;
    text-decoration: none;
    padding-left :40px;
    border-radius: 15px;
    box-sizing: border-box;
}

.left-sidebar a:hover{
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
}

.left-sidebar i{
    padding-right: 10px;
}
/*Feed*/

.bucket-box{
    position: fixed;
}

.bucket-box-text{
    float: left;
    left: 220px;
    background-color:  #ebf5fc;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;

}

.push-bucket{
    float: right;
}

.feed{
    position: relative;
}

.jumbotron{
    padding: 10px;
}

.j-box{
    float: left;
    position: relative;
    left: 220px;
    background-color:  #ebf5fc;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);

}



/*left sidebar*/
.right-sidebar{
    padding-top: 30px;
    position: fixed;
    margin-right: 30px;
    right: 0px;
    width: 250px;
    height: 100%;

}


.right-sidebar .profile-img{
    width :100px;
    height: 100px;
    border-radius: 100px;
}

.col{
    padding-top : 150px;
}


.container{
    align-items: center;
    margin: 0px;
    padding : 0px;
    background-color: #ebf5fc;

}

/*
    border-radius: 10px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);*/





    /*

    .col{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
    
    
    .j-box{
    max-width: 600px;
    float:right;
    background-color:  #ebf5fc;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
}

.box{
    width :200px;
    margin: 5px;
    text-align: center;
    font-family: fantasy;
    font-size: large;
    color:black;

    padding:10px;
    border-radius: 10px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
}

.box :hover{
    border-radius: 10px;
    box-shadow: -2px -2px 5px rgb(255, 148, 148),
    3px 3px 5px rgba(0, 0, 0, 0.1);
}

.box a{
    text-decoration: none;
}



.newp{
    background-color: #ebf5fc;
    color : black;
    border: #ebf5fc;
    border-radius: 10px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
}

.widget-list{

    border-radius: 10px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);

}
*/








/*
.profile{
    margin-left: 15px;
}

.p{
    text-align: center;
}

.h1{
    text-align: center;
}
.pro-img{
    width: 50px;
    height: auto;
    background-size: contain;
    padding : 0;
    margin-top: 10px;

}


.search-box{
    margin-top: 10px;
    margin-right: 5px;
    max-width: 250px;
    max-height: 50px;
    background-color:  #ebf5fc;
    border-radius: 10px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);

}

.search-box:hover{
    box-shadow: -2px -2px 5px rgb(248, 173, 173),
    3px 3px 5px rgba(0, 0, 0, 0.1);
}

.search-img{
    width: 50px;
    height: auto;
    background-size: contain;
    padding : 0;
    margin-top: 10px;
}
*/