.getbucket{

    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color:  #E4EBF5;
    border-radius: 10px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
}

.getbucket h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.title{
    height:30px;
    width: 68%;
    margin-bottom: 10px;
    border: 0;
    outline: 0;
    background-color:  #E4EBF5;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
}

.content{
    height:50px;
    width: 90%;
    overflow: hidden;
    resize: vertical;
    padding: 10px;
    background-color:  #E4EBF5;
    border-radius: 10px;
    border: 0;
    outline: 0;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
}

.dday{
    background-color:  #E4EBF5;
    border-radius: 10px;
    border: 0;
    outline: 0;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
}

.buttonpush{
    left : 0px;
    width : 100px;
    margin-top: 10px;
}

