.getbucket{
    margin: 5px;
}

.title{
    border: 0;
    outline: 0;
    background-color:  #E4EBF5;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
}

.content{
    background-color:  #E4EBF5;
    border-radius: 10px;
    border: 0;
    outline: 0;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
}

.dday{
    background-color:  #E4EBF5;
    border-radius: 10px;
    border: 0;
    outline: 0;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
}

.buttonpush{
    right : 0px;
}

