.feedbox{
    width : 95%;
    height: auto;
    padding : 20px;
}

.feedbox h1{
    font-size: 50px;
    text-align: left;
}

.likeday{
    text-align: left;
    margin-bottom: 10px;

}
.contentbox{
    margin-top: 10px;
    margin-bottom:  10px;
    font-size: 30px;
    word-break:break-all;
    text-align: left;
}

.buttons{
    float:right;
}


.imgs{
}


.content{
    overflow: hidden;
    resize: vertical;
    margin:  0px;
    float : left;
}


