body {
  display: flexbox;
  align-content: center;
  background-color:  #E4EBF5;
  width : 800px;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
